<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
    crossorigin="anonymous">
<body>
  <header id="site-header">
    <a *ngIf= "user" [routerLink]="['/']"><img src="https://image.ibb.co/mBFWo0/logo-xs.jpg" alt=""></a>
    <a class="logout"*ngIf= "user" class="btn" (click)="logout()"><i class="fas fa-door-open"></i></a>
    <div *ngIf="user">
      <span><app-menu></app-menu></span>
    </div>
  </header>
  
  <main id="site-main container">
  <router-outlet>
  </router-outlet>
  </main>
</body>
