<div id="search">
  <form #form="ngForm">
    <div class="search-field">
      <input class="search-bar" [(ngModel)]="terms" (ngModelChange)="updateIng()" [value]="searchValue" type="text"
        name="searchBox" id="search" placeholder="What's in your fridge?">
      <i class="fas fa-search"></i>
    </div>
  </form>
</div>
<div class="search-container">
  <ul>
    <li *ngFor="let ingredient of filteredIng" [value]="ingredients">
      <a class="ingredients" (click)="addToSelection(ingredient)"><p>{{ingredient.name}}</p></a>
    </li>
  </ul>
</div>
<h3 class="title"> Your Ingredients</h3>
<ul>
  <li class="selected-list" *ngFor="let ingredient of selectedIng" [value]="ingredient">
    <div class="selected">
      <button (click)="removeFromSelection()"><i class="far fa-times-circle"></i></button>
      <p> {{ingredient.name}} </p>
    </div>
  </li>
</ul>
<h3 class="title"> Matching Recipes</h3>
<div class="card">
  <ul class="cards">
    <li *ngFor="let recipe of recipes" [value]="recipe">
      <h3>{{recipe.title}}</h3>
      <a [routerLink]="['/recipe',recipe._id]"> <img src="{{recipe.picture}}" alt=""></a>
    </li>
  </ul>
</div>