<div class="slider">
  <ul id="slides">
    <li class="slide showing">
      <div class="text">
        <h1>Yourneys</h1>
        <p>Discover special spots in your favorite city like a local</p>
      </div>
    </li>
    <li class="slide">
      <div class="text">
        <h1>Yourneys</h1>
        <p>Search detailed Journeys and experiences created by people living in that city</p>
      </div>
    </li>
    <li class="slide">
      <div class="text">
        <h1>Yourneys</h1>
        <p>Locals recommend you what to do and where, so you feel part of the city</p>
      </div>
    </li>
  </ul>
  <a href="#" class="skip-link">Skip</a>
</div>