#site-header {
  padding: 10px 0;
  color: white;
  background: #D00000;
  position: relative;
}

#site-main {
  margin-bottom: 60px;
}

.container {
  margin: 0 auto;
  text-align: center;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}
@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }

}
 //error

 .error {
   width:100%;
   position: relative;
   background: 

   img{
     width: 100%;
   }
   h3 {
     position: absolute;
   }
   button{
     padding: 15px;
   }
 }