header{
    
    text-align: center;
    padding: 0;
    margin: 0;
    
}

//error

.error h3 {
    font-size: 100%;
    color: #F07307;
    text-shadow: 3px 3px 10px rgb(88, 84, 84);
    text-align: center;
}